<link rel="stylesheet" type="text/css" href="https://phaidra-static.cab.unipd.it/stylesheets/css/unipdstyle.css">

<form method="post" action="inserimentoin_media_tbl.php">Inserimento dati PHAIDRA<br>
  
  <input type="text" name="immagine"><br>
  <input type="submit" value="send">
</form>