<link rel="stylesheet" type="text/css" href="https://phaidra-static.cab.unipd.it/stylesheets/css/unipdstyle.css">
<form method="post" action="inserimentointabella.php">
  inserisci qui il codice oggetto digitale phaidra <br>
  <input type="text" name="codice"><br>
  <input type="text" name="codicephaidra"><br>
  <input type="submit" value="Invia Modulo">
</form>


