<link rel="stylesheet" type="text/css" href="https://phaidra-static.cab.unipd.it/stylesheets/css/unipdstyle.css">




<form method="post" action="inserimentoggetti.php">
   <br>


  <br></br>
    <input type="text" name="codice"><br>
  
  
  <input type="submit" value="Invia Modulo">
</form>


