<link rel="stylesheet" type="text/css" href="https://phaidra-static.cab.unipd.it/stylesheets/css/unipdstyle.css">

<form method="post" action="inserimentointabellaimmaginimovioconcodice.php"><br>
  
  <input type="text" name="immagine"><br>
  <input type="text" name="dc"><br>
  <input type="submit" value="send">
</form>

